<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Agenda de Contatos </title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/bootstrap/js/bootstrap.min.js">
    <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <script src="/lib/materialize/js/materialize.min.js"></script>
</head>

<body onload="extractContactId()">
<div class="container">
    <i class="half material-icons" style="cursor: pointer;" onclick="window.location.replace('../../')">arrow_back</i>
<div class="jumbotron mt-5">


    <form>
        <input id="contactId" type="text" hidden="true">
        <h3>Informações do contato</h3>
        <br>

        <div id="alert">
        </div>

        <br>
        <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="contactName" type="text" class="validate">
            <label for="contactName" id="labelName">Nome</label>
        </div>

        <div class="input-field col s6">
            <i class="material-icons prefix">email</i>
            <input id="contactEmail" type="email" class="validate">
            <label for="contactEmail" id="labelEmail">Email</label>
        </div>


        <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="contactPhoneNumber" type="text" class="validate">
            <label for="contactPhoneNumber" id="labelPhoneNumber">Telefone</label>
        </div>

        <button type="button" id="btnSubmit" onclick="extractDataFromForm()" class="btn btn-primary mt-5 float-right">Salvar</button>
    </form>

</div>
</div>

<script src="/js/contact.js">
</script>

</body>
</html>