<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Faça login</title>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
      <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    </head>
    <body class="bg-dark text-white">
       <div class="container">
        <form class="form-signin" method="post" action="/login">
          <h2 >Login</h2>
          <br>
              <div th:if="${param.error}">
                  <div class="alert alert-danger" role="alert">
                      Usuário ou senha incorreto!!!
                  </div>
              </div>
            <label for="username" class="sr-only">Login</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Login" required autofocus>
          </p>
          <p>
            <label for="password" class="sr-only">Senha</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Senha" required>
          </p>
          <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          <br>
          <p style="text-align: center;">
            <a href="../create_account">Criar uma Conta</a>
          </p>
        </form>
      </div>
    </body>
  </html>